.idea
coverage.html
app-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Logs, additional folders
pids
logs
results
npm-debug.log
npm-shrinkwrap.json


# Node modules
node_modules

# Virtual env
env

# Compiled resources
public/css/style.css


