.idea
coverage.html
app-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Logs, additional folders
pids
logs
results
npm-debug.log


# Node modules
node_modules

# Compiled resources
public/css/style.css


