body {
  padding-top: 60px;
}

*, html {
    font-size: 14px;
}

.btn {
  outline: none !important;
}

.center {
  text-align: center;
}

.thumbnails li {
    position:relative;
}

.thumbnails .remove {
    position: absolute;
    top: 3px;
    right: -5px;
    opacity: .5;
    cursor: pointer;
}

.thumbnails .remove:hover {
    opacity: 1;
}

.image-upload {
    display: inline-block;
}

.image-upload .btn {
    position: relative;
}

.image-upload input {
    opacity: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    cursor: pointer;
    width: 100px;
}
