@import "vars.less";
@import "mixins.less";

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: @text-color;
}


html {
  .waiting {
    .wrapper {
      visibility: hidden;
    }
  }
}

.wrapper {
  height: 100%;
  height: auto;
  min-height: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.starred {
  padding-left: 10px;

  &::before {
    content: '★';
    display: inline-block;
    left: -10px;
    position: relative;
  }
}


:link {
  color: @link-color;

  &:hover, &:active, &.active {
    color: @link-active-color;
    text-decoration: none;
  }
}

.navbar .nav > li > a {
  .border-box();

  color: @navbar-color;
  text-shadow: none;
  padding: 5px 15px;
  line-height: 50px;

  &:hover {
    background: #fff;
  }
}

.brand.logo {
  font-size: 26px;
  text-shadow: 1px 0px 1px #000;
}

.modal {
  color: #4b3300;
  overflow: hidden;
  
  form,
  .form-actions {
    margin: 0;
  }
}

.container,
.navbar .container {
  max-width: 1400px;
}

.navbar {
  min-height: 60px;
  margin-bottom: 0;
  color: @navbar-color;
  background: @navbar-bg;

  .brand {
    color: @navbar-color;
    text-shadow: none;
  }

  .nav {
    li.dropdown {
      .dropdown-toggle {
        padding-right: 25px;

        .caret {
          position: absolute;
          top: 50%;
          margin: -3px 0 0 7px;
          border-top-color: @navbar-color;
          border-bottom-color: @navbar-color;
        }
      }
    }
  }
}

.dropdown-menu {
  margin: 0;
  border: none;
  border-radius: 0;
}

.navbar-link {
  display: inline-block;
  padding: 7px 10px;
  color: #fff;

  &:hover {
    background: #fff;
  }
}

footer {
  .border-box();

  font-size: 93%;
  border-top: 1px solid #ddd;
  width: 100%;
  height: 70px;
  margin-top: -70px;
  padding: 20px 0;
  background: @footer-bg;
}

header {
  background: @header-background;
  color: @header-text-color;

  .container {
    position: relative;
  }

  &.error {
    padding: 15px 0;
  }

  .header-left, .header-right {
    .border-box();

    float: left;
    margin: 15px 0;
    width: 50%;

    ul {
      font-size: 15px;
    }
  }

  .header-left {
    padding-right: 40px;

    .profile-image {
      float: left;
      margin-right: 20px;
    }
  }
  .header-right {
    padding-left: 40px;
  }
}

article {
  padding: 1.5em 0 100px;
}

.status {
  font-size: 93%;
  font-weight: normal;
  margin-left: 1em;
  color: #7f7f7f;
}

.well {
  background: #FFF6E8;
}

.thumbnails {

  li {
    
    transition: margin .5s;
    -webkit-transition: margin .5s;

    a {
      position: relative;
    }

    &:hover .remove {
      display: block;
    }

    .caption {
      .winner-1 {
        background: gold;
      }
      .winner-2 {
        background: silver;
      }
      .winner-3 {
        background: #ff8c00;
      }
    }
  }

  .remove {
    position: absolute;
    top: 2px;
    right: 2px;

    color: red;
    cursor: pointer;
    display: none;
    font-size: 24px;
    height: 20px;
    text-align: center;
    width: 21px;
    z-index: 100;
  }
}

.thumbnail {
  overflow: hidden;
  padding: 0;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.10);
    border-color: #d1d1d1;
  }

  .image-author {
    font-size: 93%;
    position: relative;
    display: block;
    margin: -20px 0 0 10px;

    .userpic {
      vertical-align: bottom;
      border: 3px solid #fff;
      border-radius: 100%;
    }
    
    .name {
      display: inline-block;
      margin-top: 8px;
    }
  }

  .image-link {
    display: block;
  }

  .image-caption {
    margin-bottom: 10px;
  }

  .comments {
    font-size: 93%;
    padding: 5px 0;
    border-top: 1px solid #ddd;
    background: #f8f8f8;

    li {
      padding: 5px 10px;
      margin: 0;
      padding-left: 50px;
      box-shadow: none;

      &.me {
        box-shadow: none;
      }
      
      .title {
        width: auto;
      }

      .time {
        font-size: 93%;
        display: inline-block;
        position: relative;
        top: auto;
        right: auto;
        margin-left: .75em;
        color: #7f7f7f;
      }
    }

    .userpic {
      margin-left: -40px;
      img {
        border-radius: 4px;
      }
    }
  }
}

.form-upload {
  .progress {
    display: none;
  }

  &.process {
    .progress {
      display: block;
      margin: 10px 0 0 0;
    }

    .inputs {
      display: none;
    }
  }

  .image-upload {
    display: inline-block;

    .btn {
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }


    input {
      opacity: 0;
      filter: alpha(opacity=0);
      color: #ffffff;
      position: absolute;
      z-index: 1;
      right: 0px;
      top:0px;
      cursor: pointer;
      height: 30px;
      font-size: 23px;
      direction: ltr;
      cursor: pointer;
      line-height: 30px;
    }

    .text {
      display: inline-block;
      vertical-align: sub;
    }
  }
}

.userpic {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;

  img {
    display: block;
    border-radius: 100%;
  }
}

.comments li {
  padding: 10px;
  padding-left: 80px;
  margin: 7px 4px;
  box-shadow: 0 1px 4px rgba(180, 99, 10, 0.5);
  position: relative;

  &.me {
    box-shadow: 0 1px 4px rgba(37, 89, 180, 0.48);

    .title a {
      color: rgba(37, 89, 180, 0.48);
    }
  }

  .time {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .title {
    width: 300px;
    display: inline-block;
  }
}
//
//.comments ul li:nth-child(odd) {
//  box-shadow: 0 1px 4px rgba(94, 197, 79, 0.47);
//}
//
//.comments ul li:nth-child(3n) {
//  box-shadow: 0 1px 4px rgba(197, 3, 123, 0.46);
//}

.comments .userpic {
  margin-left: -65px;
  float: left;
}

.image-to-rate {
  .rating-shadow (@radius) {
    box-shadow: 0px 0px 10px @radius @header-shadow-color;
  }

  display: inline-block;
  position: relative;

  .rating-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    .rating {
      background: @header-shadow-color;
      .rating-shadow(6px);

      display: inline-block;

      opacity: 0;
      -o-transition: opacity .5s, .5s ease;
      -moz-transition: opacity .5s, .5s ease;
      -webkit-transition: opacity .5s, .5s ease;
      visibility: hidden;
    }

    .rating-message {
      color: @header-text-color;
    }

    .star {
      color: orange;
      cursor: pointer;
      font-size: 25px;
    }

  }

  &.image-large {
    display: block;
    margin: 0 auto 40px;
    text-align: center;

    img {
      border-color: fade(@header-background, 50%);
      box-shadow: inset 0px 0px 2px 2px fade(@header-background, 50%);
    }

    .rating-container {
      bottom: 50px;
    }

    .rating {
      .rating-shadow(12px);

      .star {
        font-size: 40px;
        vertical-align: sub;
      }
    }

    &:hover {
      .rating {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.likes-for-image {
  .like {
    display: inline-block;
    margin: 0 5px 5px 0;
    position: relative;

    .like-tooltip {
      display: none;
      position: absolute;
      top: 0;
      left: 120%;
      width: 115px;
      background: #FFF5E7;
      box-shadow: 0px 0px 5px 3px #FFF5E7,
                  inset 0 0 1px 1px fade(@header-background, 50%);
      border-radius: 5px;
      z-index: 200;
      color: fade(@header-background, 90%);
      text-align: center;

      h6 {
        margin: 0;
      }
    }

    &:hover .like-tooltip {
      display: block;
    }
  }
}

.google {
  display: block;
  span { font-size: 18px; }
}

@media (min-width: 640px) and (max-width: 767px){
  .container {
    width: 620px;
  }

  .thumbnails {
    margin-left: -20px;

    &> li {
      float: left;
      margin-left: 20px;
      width: 300px;
    }
  }
}

@media (max-width: 640px){
  .container {
    width: 96%;
    margin: 0 auto;
  }
}