@import "vars.less";
@import "mixins.less";

.slides-wrapper {
  overflow: hidden;
  width: 100%;
}

.slides {
  position: relative;
  width: 75%;
  height: 300px;
  margin: 0 auto 4em;
  .item {
    display: block;
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .slides-wrapper {
    display: none;
  }
}